.back-custom {
  background: #ffefba !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0 !important;
}
.counter-inp-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  border-radius: 6px;
  /* background-color: #4a4949; */
  border: 1px solid #dee2e6;
}

.counter-inp-form > input {
  border: none;
}
.counter-inp-form > input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.counter-btn {
  border: 1px solid #d5d5d2;
  padding: 8px;
  border-radius: 50%;
  font-size: 14px;
  color: #4a4949;
  cursor: pointer;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: 5px;
}
.counter-btn:hover {
  border: 1px solid #4a4949;
}
